<!DOCTYPE html>
<html>
<head>

     <!-- Meta tags that are about the website -->
     <meta charset="UTF-8">
     <meta name="author" content="Kristian Bek">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="Profile section of the website">
     <meta name="keywords" content="Music, Muscians, Artists, Spotify, Reccomendations, Music Genre, Rap, Hip Hop, Rock, Jazz, Pop, Country">
     
     <!-- Title and tab icon of the site -->
     <title>RecoMusic | Profile</title>
     <link rel="icon" type="image/x-icon" href="/src/micon.ico">
     
     <!-- Link to the CSS sheet -->
     <link rel="stylesheet" type="text/css" href="/css/profile.css">
 
</head>
<body>

    <!-- Return button that links back to the main page -->
    <button type="button" onclick="location.href='/'" class="returnbtn">&#9166;</button>

    <!-- Window that displays the user information -->
    <div class="window">

        <!-- Uses variable sent in from server side javascript -->
        <h2>Username: <%= name %></h2>
        <h2>Email: <%= email %></h2>

        <h1>Latest Searches:</h1>

        <!-- Displays latest searches made by the user -->
        <div class="con" id="con1"><h3><%= his1 %></h3></div>
        <div class="con" id="con2"><h3><%= his2 %></h3></div>
        <div class="con" id="con3"><h3><%= his3 %></h3></div>
        <div class="con" id="con4"><h3><%= his4 %></h3></div>
        <div class="con" id="con5"><h3><%= his5 %></h3></div>
    </div>

</body>
</html>